header {
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;
}

nav {
    background-color: yellow;
    grid-area: nav;
    display:none;    
}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}

aside {
    background-color: lightgreen;
    grid-area: aside;
}

footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
    "nav nav nav"
    "main main main"
    "aside aside aside"
    "footer footer footer";
}
.openmenu {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    
}
.openmenu:before {
    content: '';
    position: absolute;
    width: 1.25em;
    top: 0.3em;
    left: 2empx;
    border-top: 0.2em solid white;
}
.openmenu {
    position: relative;
}
nav {
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
    transform: translate(0, -100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
}
nav:target {
    transform: translate(0, 0);
}
